/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Apply box-sizing to all elements for more predictable sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* ----------------------------------------------------------------- */

/* --------------  Apply styles to the header container  ---------------*/
.first-header-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 139px 42px 139px;
}

/* Style the Products title */
.first-header-title {
  font-size: 24px;
  font-weight: bold;
}

/* Style the Add New Product button */
.first-header-button {
  background-color: #3B6239;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.first-header-button:hover {
  background-color: #63a35f;
}

/* -----------  End of  styles to the header container  ---------*/
/* ----------------------------------------------------------------- */



/* ----------------Apply styles to the search container -----------------*/
.search-container-products {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 20px;
  width:fit-content;
}

/* Style the Search Product title */
.search-container-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 139px;
}

/* Style the search bar */
.search-bar-products {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #007BFF;
  border-radius: 5px;
  margin-left: 139px;

}

.search-bar::placeholder {
  color: #ccc;
}

/* -------------  End of  styles to the search container  --------------*/
/* -------------------------------------------------------------------- */


/* Apply styles to the table container */
.table-container-main {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
}

.table-container-head {
  color: white;
  background-color: #3B6239;
  text-align: center;
  padding: 8px;
}


td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #7b7a7a;
}

/* Remove border from the last row */
tr:last-child {
  border-bottom: none;
}

.table-container-body a.link {
  text-decoration: none !important;
  color: black !important;
}

/* Highlight table rows on hover */
tr:hover {
  background-color: #f5f5f5;
}

.table-buttons {
  background-color: #3B6239;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.table-buttons-remove {
  background-color: #3B6239;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 1px;
}

.table-buttons:hover {
  background-color: #63a35f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 1px;
}

.table-buttons-remove:hover {
  background-color: #f43939;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 1px;
}

td.table-cell {
  border-bottom: 1px solid #dcdcdc;
}

/* ----------------------------------------------------------------- */
/* ----------- Styling the POP UP form start here  ------------- */
.add-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.add-popup h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical; /* Allow the textarea to be vertically resizable */
}

.button-group {
  text-align: right;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

/* --------- END OF Styling the edit form start here  ---------- */

/* ----------------------------------------------------------------- */

/* --------- Styling the edit form start here  ---------- */

.edit-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.edit-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  text-align: right;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}


/* --------- END OF Styling the edit form start here  ---------- */




.banner-product {
  background-image: url('/images/green_landscape.jpeg'); /* Relative path to the image */
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 40px;
  padding: 80px 0px;
  margin-bottom: 2rem;
  /* height: 50px; */
}
